/* Write your CSS here */

.prime-video-container {
  background-color: #000000;
  min-height: 100vh;
  padding-bottom: 30px;
}

.movies-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .movies-container {
    max-width: 1110px;
  }
}

.heading {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Roboto';
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
}

.image {
  width: 100%;
}
